 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 961px;
}

.u-section-1 .u-group-1 {
  width: 834px;
  min-height: 275px;
  height: auto;
  margin: 77px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 10px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 10px 15px;
}

.u-section-1 .u-image-1 {
  width: 734px;
  height: 457px;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 614px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    width: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-group-1 {
    width: 471px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    width: 351px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 448px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1 .u-group-1 {
    width: 441px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    width: 329px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 336px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 339px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 15px 29px 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 212px;
  }
}