 .u-section-1 {
  min-height: 867px;
}

.u-section-1 .u-group-1 {
  min-height: 867px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 184px auto 0 20px;
}

.u-section-1 .u-image-1 {
  height: auto;
  object-position: 50% 47.28%;
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-family: Questrial;
  font-size: 1.375rem;
  margin: -394px 306px 0 89px;
}

.u-section-1 .u-btn-2 {
  --radius: 3px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -19px auto 0 89px;
  padding: 7px 55px 8px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-image-2 {
  width: 486px;
  height: 158px;
  margin: -194px auto 0 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 1212px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 320px;
    margin-left: 430px;
  }

  .u-section-1 .u-image-1 {
    width: 1040px;
    height: 585px;
    margin-top: 115px;
    margin-right: auto;
    margin-left: -232px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -790px;
    margin-right: -154px;
    margin-left: 349px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 865px;
    margin-left: -298px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1079px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 1018px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 319px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    height: 405px;
    width: 720px;
    margin-left: -124px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -609px;
    margin-right: -236px;
    margin-left: 236px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 864px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-image-1 {
    height: 304px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.222222222222222rem;
    margin-top: -509px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    min-height: 788px;
    margin-top: -19px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.5625rem;
    margin-top: 193px;
    margin-left: 58px;
  }

  .u-section-1 .u-image-1 {
    width: 799px;
    height: 448px;
    margin-top: 57px;
    margin-left: -359px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.8125rem;
    margin-top: -582px;
    margin-right: -57px;
    margin-left: 57px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 562px;
    margin-left: -236px;
  }

  .u-section-1 .u-image-2 {
    width: 325px;
    height: 106px;
    margin-top: -715px;
    margin-left: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 75px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 28px 57px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -53px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-2 .u-text-1 {
    width: 214px;
    margin-top: 38px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 388px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -109px;
  margin-bottom: 58px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 439px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 91px auto 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 439px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 91px auto 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px 8px 0 20px;
}

.u-section-3 .u-text-4 {
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 439px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 91px auto 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 39px 20px 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 8px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 953px;
    margin: 42px -6px 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 72px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 445px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 295px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: -170px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 267px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 309px;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 1rem;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 56px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 71px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 119px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 16px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -290px;
    margin-bottom: 50px;
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 24px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 29px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 7px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 59px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 59px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 40px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 13px;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 693px;
}

.u-section-4 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 570px;
  height: auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -57px;
}

.u-section-4 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-4 .u-group-1 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 60px 40px 40px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px auto 0 0;
  padding: 14px 48px 16px 47px;
}

.u-section-4 .u-image-1 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 13px auto;
}

.u-section-4 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-4 .u-group-2 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 60px 40px 40px;
}

.u-section-4 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px auto 0 0;
  padding: 14px 48px 16px 47px;
}

.u-section-4 .u-image-2 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 13px auto;
}

.u-section-4 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 9px;
}

.u-section-4 .u-group-3 {
  width: 505px;
  min-height: 540px;
  height: auto;
  margin: 30px auto 0 56px;
}

.u-section-4 .u-container-layout-6 {
  padding: 60px 40px 40px;
}

.u-section-4 .u-text-5 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  line-height: 1.14;
  font-size: 2.125rem;
  margin: 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -16px auto 0 0;
  padding: 14px 48px 16px 47px;
}

.u-section-4 .u-image-3 {
  width: 422px;
  height: 422px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -515px 56px 93px auto;
}

.u-section-4 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-4 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    min-height: 565px;
  }

  .u-section-4 .u-carousel-item-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-group-1 {
    width: 397px;
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 32px;
  }

  .u-section-4 .u-image-1 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-4 .u-carousel-item-2 {
    margin-bottom: 0;
  }

  .u-section-4 .u-group-2 {
    width: 397px;
    height: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 32px;
  }

  .u-section-4 .u-image-2 {
    width: 405px;
  }

  .u-section-4 .u-carousel-item-3 {
    margin-bottom: 0;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 32px;
  }

  .u-section-4 .u-image-3 {
    animation-duration: 1000ms;
    width: 377px;
    height: 377px;
    margin-top: -496px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 927px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-4 .u-group-1 {
    min-height: 383px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-4 .u-group-2 {
    min-height: 383px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-4 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 908px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 428px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 428px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1123px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 961px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-4 .u-image-1 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-group-2 {
    min-height: 552px;
    width: 285px;
    margin-right: 15px;
    margin-left: 40px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    width: 212px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    height: 291px;
    width: 265px;
    margin: 27px 25px 0 auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-3 {
    height: 321px;
    width: 265px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 764px;
}

.u-section-5 .u-image-1 {
  width: 1158px;
  height: 619px;
  margin: 89px -18px 0 auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 570px;
  margin: -501px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 167px;
}

.u-section-5 .u-icon-1 {
  height: 69px;
  width: 69px;
  margin: 31px auto 0 20px;
  padding: 6px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: -77px 15px 0 102px;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: 18px 15px 0 102px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 167px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: -77px 15px 0 102px;
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 167px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0 20px;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: -77px 15px 0 102px;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 15px 15px 102px;
}

.u-section-5 .u-group-1 {
  width: 779px;
  min-height: 193px;
  height: auto;
  margin: -655px auto 462px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1.08;
  font-size: 2.6875rem;
}

.u-section-5 .u-text-8 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 502px;
    margin-top: 147px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -376px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 12px;
    margin-left: 100px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 12px;
    margin-left: 100px;
    position: relative;
  }

  .u-section-5 .u-group-1 {
    margin-top: -721px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-5 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 385px;
    margin-top: 49px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -227px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 9px;
    margin-left: 101px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 289px;
    margin-top: 102px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -184px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 41px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 7px;
    margin-left: 93px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-5 .u-image-1 {
    width: 568px;
    height: 304px;
    margin-top: 330px;
    margin-right: auto;
    margin-left: -268px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 177px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -61px;
    margin-right: 13px;
    margin-left: 89px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
    margin-left: 83px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 15px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 4px;
    margin-left: 83px;
  }

  .u-section-5 .u-group-1 {
    min-height: 308px;
    margin-top: -1191px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 86px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin: 15px 20px -41px 12px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-group-1 {
  width: 700px;
  min-height: 163px;
  margin: 57px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 31px 20px 0;
}

.u-section-6 .u-text-2 {
  margin: 0 20px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 200px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 31px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 17px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 162px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 29px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px 20px 15px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 200px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 29px auto 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 17px auto 0;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 200px;
}

.u-section-6 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 29px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 15px auto 0;
}

.u-section-6 .u-layout-cell-5 {
  background-image: none;
  min-height: 200px;
}

.u-section-6 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 29px auto 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 20px auto 0;
}

.u-section-6 .u-layout-cell-6 {
  background-image: none;
  min-height: 200px;
}

.u-section-6 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 31px auto 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 150px;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 577px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 29px;
    position: relative;
  }

  .u-section-6 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    width: 124px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 162px;
  }

  .u-section-6 .u-icon-3 {
    position: relative;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    width: 124px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 162px;
  }

  .u-section-6 .u-icon-4 {
    position: relative;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    width: 124px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-6 .u-icon-5 {
    position: relative;
  }

  .u-section-6 .u-text-7 {
    position: relative;
    width: 124px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 162px;
  }

  .u-section-6 .u-icon-6 {
    position: relative;
  }

  .u-section-6 .u-text-8 {
    position: relative;
    width: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 442px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 31px;
  }

  .u-section-6 .u-text-3 {
    width: 178px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 170px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 15px;
  }

  .u-section-6 .u-text-4 {
    width: 139px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    width: 134px;
  }

  .u-section-6 .u-text-6 {
    width: 139px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-text-7 {
    width: 95px;
  }

  .u-section-6 .u-text-8 {
    width: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 414px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    width: 174px;
  }

  .u-section-6 .u-text-4 {
    width: 135px;
  }

  .u-section-6 .u-text-5 {
    width: 144px;
  }

  .u-section-6 .u-text-6 {
    width: 123px;
  }

  .u-section-6 .u-text-7 {
    width: 89px;
  }

  .u-section-6 .u-text-8 {
    width: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 177px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-6 .u-text-3 {
    width: 158px;
    margin-bottom: 18px;
  }

  .u-section-6 .u-text-4 {
    width: 138px;
  }

  .u-section-6 .u-text-5 {
    width: 136px;
  }

  .u-section-6 .u-text-6 {
    width: 125px;
  }

  .u-section-6 .u-text-7 {
    width: 125px;
  }

  .u-section-6 .u-text-8 {
    width: 125px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 438px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 489px;
  margin: 25px 0 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 437px;
}

.u-section-7 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-7 .u-image-1 {
  width: 846px;
  height: 462px;
  object-position: 0% 50%;
  margin: -412px auto -24px -236px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: -19px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-7 .u-image-1 {
    margin-top: -387px;
    margin-bottom: 0;
    margin-left: -376px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: -77px;
    margin-left: 89px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin: 25px 0 0 12px;
  }

  .u-section-7 .u-image-1 {
    width: 660px;
    height: 259px;
    margin-top: 0;
    margin-left: -270px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 961px;
}

.u-section-8 .u-group-1 {
  width: 834px;
  min-height: 275px;
  height: auto;
  margin: 77px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  margin: 15px 10px 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 10px 15px;
}

.u-section-8 .u-image-1 {
  width: 734px;
  height: 457px;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 614px;
    min-height: 305px;
    margin-top: 78px;
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin: 19px 62px 0 78px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-8 .u-group-1 {
    width: 471px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    width: 351px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 448px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-8 .u-group-1 {
    width: 441px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-8 .u-text-2 {
    width: 329px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 336px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    min-height: 339px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 212px;
  }
} .u-section-9 {
  background-image: linear-gradient(to bottom, rgba(157, 90, 143, 1), rgba(157, 90, 143, 1)), linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-9 .u-sheet-1 {
  min-height: 1115px;
}

.u-section-9 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  letter-spacing: 4px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  width: 861px;
  margin: 310px auto 0;
}

.u-section-9 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 32px 158px 0 213px;
}

.u-section-9 .u-form-1 {
  height: 71px;
  width: 704px;
  margin: 52px auto 0;
}

.u-section-9 .u-form-group-1 {
  margin-left: 0;
}

.u-section-9 .u-label-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-9 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  width: 136px;
  min-width: 68px;
  margin: 287px auto 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 32px;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-btn-2 {
  border-style: solid;
  font-size: 1.1875rem;
  line-height: 0.73;
  font-weight: 300;
  margin: 19px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 263px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-9 .u-text-2 {
    width: 714px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-form-1 {
    margin-top: 91px;
  }

  .u-section-9 .u-btn-1 {
    width: 121%;
  }

  .u-section-9 .u-social-icons-1 {
    min-height: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: 243px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-9 .u-form-1 {
    width: 540px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 102px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 2.125rem;
    margin-top: 196px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.25rem;
    width: 340px;
  }

  .u-section-9 .u-form-1 {
    width: 340px;
  }

  .u-section-9 .u-btn-1 {
    padding: 9px 0;
  }

  .u-section-9 .u-social-icons-1 {
    margin-bottom: 0;
  }
}