 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1301px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 112px 75px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 747px;
  height: 747px;
  background-image: url("images/3716313.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -314px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 207px;
  height: 207px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: 739px;
  height: 739px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -508px auto 0 401px;
}

.u-section-1 .u-group-1 {
  width: 493px;
  min-height: 528px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -630px 123px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 14px 55px 15px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-1 .u-shape-1 {
    width: 227px;
    height: 227px;
    margin-top: 60px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -179px;
  }

  .u-section-1 .u-shape-2 {
    width: 167px;
    height: 167px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -468px;
    margin-left: 201px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-1 .u-shape-1 {
    width: 204px;
    height: 204px;
  }

  .u-section-1 .u-image-1 {
    width: 526px;
    height: 526px;
    margin-top: -156px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 581px;
  }

  .u-section-1 .u-shape-3 {
    width: 720px;
    height: 720px;
    margin-top: -848px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -624px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1637px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 70px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-shape-3 {
    width: 711px;
    height: 711px;
    margin-top: -878px;
    margin-left: -86px;
    margin-right: -86px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -620px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-1 .u-shape-1 {
    width: 127px;
    height: 127px;
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 127px;
    height: 127px;
    margin-top: 543px;
  }

  .u-section-1 .u-shape-3 {
    width: 586px;
    height: 586px;
    margin-top: -740px;
    margin-left: -123px;
    margin-right: -123px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -557px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 60px;
  margin-left: 0;
  min-height: 771px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 394px;
  transition-duration: 0.5s;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 3.125rem;
  font-weight: 700;
  background-image: none;
  margin: 8px auto 0;
}

.u-section-2 .u-text-4 {
  width: 168px;
  font-style: italic;
  margin: 8px auto 0;
}

.u-section-2 .u-text-5 {
  line-height: 2;
  margin: 10px 11px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  --radius: 50px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  --radius: 10px;
  min-height: 394px;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 43px 30px 30px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-2 .u-text-8 {
  width: 164px;
  font-style: italic;
  margin: 8px auto 0;
}

.u-section-2 .u-text-9 {
  line-height: 2;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 594px;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-2 .u-text-12 {
  width: 164px;
  font-style: italic;
  margin: 8px auto 0;
}

.u-section-2 .u-text-13 {
  line-height: 2;
  font-size: 1rem;
  margin: 9px 28px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: solid;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  --radius: 10px;
  min-height: 594px;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 29px;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 7px auto 0;
}

.u-section-2 .u-text-16 {
  width: 164px;
  font-style: italic;
  margin: 9px auto 0;
}

.u-section-2 .u-text-17 {
  line-height: 2;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  border-style: solid;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 424px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 324px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    --radius: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.8125rem;
  }

  .u-section-2 .u-text-4 {
    width: 163px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 324px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.8125rem;
  }

  .u-section-2 .u-text-8 {
    width: 150px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 490px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-text-11 {
    font-size: 2.8125rem;
  }

  .u-section-2 .u-text-12 {
    width: 163px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 490px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-15 {
    font-size: 2.8125rem;
  }

  .u-section-2 .u-text-16 {
    width: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 845px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 10px;
    margin-right: 18px;
    margin-left: 25px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 19px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 649px;
  }

  .u-section-2 .u-text-11 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-13 {
    margin-top: 12px;
    margin-right: 8px;
    margin-left: 24px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 16px;
  }

  .u-section-2 .u-text-15 {
    font-size: 3rem;
  }
}

.u-section-2 .u-layout-cell-3,
.u-section-2 .u-layout-cell-3:before,
.u-section-2 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover:before {
  background-color: #9d5a8f !important;
}

.u-section-2 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover:before {
  background-color: #9d5a8f !important;
}

.u-section-2 .u-layout-cell-4,
.u-section-2 .u-layout-cell-4:before,
.u-section-2 .u-layout-cell-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4:hover:before {
  background-color: #9d5a8f !important;
}

.u-section-2 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4.hover:before {
  background-color: #9d5a8f !important;
}

.u-section-2 .u-layout-cell-1,
.u-section-2 .u-layout-cell-1:before,
.u-section-2 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover:before {
  background-color: #9d5a8f !important;
}

.u-section-2 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover:before {
  background-color: #9d5a8f !important;
}

.u-section-2 .u-layout-cell-2,
.u-section-2 .u-layout-cell-2:before,
.u-section-2 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover:before {
  background-color: #9d5a8f !important;
}

.u-section-2 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover:before {
  background-color: #9d5a8f !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1292px;
}

.u-section-3 .u-shape-1 {
  width: 246px;
  height: 246px;
  margin: 60px 67px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 731px;
  height: 731px;
  background-image: url("images/19198546.jpg");
  background-position: 50% 50%;
  margin: -246px auto 0 32px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1002px;
  margin: -195px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-form-1 {
  height: 415px;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 17px 0 19px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 581px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-list-1 {
  width: 459px;
  margin: 43px -9px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-3 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-icon-2 {
  vertical-align: 0px;
}

.u-section-3 .u-text-5 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px 15px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-3 .u-icon-3 {
  vertical-align: 0px;
}

.u-section-3 .u-text-7 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-shape-2 {
  width: 168px;
  height: 168px;
  background-image: none;
  margin: -1074px auto 966px 32px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-3 .u-shape-1 {
    width: 218px;
    height: 218px;
    --animation-custom_in-translate_x: 100px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 695px;
    height: 695px;
    --animation-custom_in-translate_x: -100px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
    margin-top: -158px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 852px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 574px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 545px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    --animation-custom_in-translate_x: -100px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 25px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1675px;
  }

  .u-section-3 .u-shape-1 {
    width: 184px;
    height: 184px;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: -116px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -110px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-2 {
    width: 140px;
    height: 140px;
    margin-top: -1521px;
    margin-bottom: 1436px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-3 .u-shape-1 {
    width: 139px;
    height: 139px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -81px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-2 {
    width: 94px;
    height: 94px;
    margin-top: -1354px;
    margin-bottom: 1315px;
  }
}